.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 948px;
	min-height: 3058.8500000000004px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	margin-bottom: -25px;
}

a:link   
{
    font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
    text-decoration:none;   
}
#ingresar
{
	z-index: 2200;
    position: fixed;
	top: 15px;
	right: 25%;
	margin-right: -10px;
}
#registrar
{
	z-index: 2201;
    position: fixed;
	top: 15px;
	right: 25%;
	margin-right: -105px;
}
#contactar
{
	z-index: 2202;
    position: fixed;
	top: 15px;
	right: 25%;
	margin-right: -220px;
}

#u1935
{
	z-index: 2;
	width: 1148px;
	border-style: none;
	border-color: transparent;
	background-color: #69008C;
	padding-bottom: 206px;
	position: relative;
	left: -100px;
}

#u1928
{
	z-index: 34;
	width: 661px;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 244px;
}

#pu1956
{
	width: 0.01px;
	padding-bottom: 47px;
	margin-left: 317px;
	top: -755px;
	margin-bottom: -47px;
	position: relative;
}

#u1956
{
	z-index: 56;
	width: 275px;
	padding-bottom: 22px;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: -157px;
}

#u1951-4
{
	z-index: 61;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: -157px;
}

#u1954
{
	z-index: 69;
	width: 15px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transform: matrix(0,1,-1,0,8,-7);
	-ms-transform: matrix(0,1,-1,0,8,-7);
	-o-transform: matrix(0,1,-1,0,8,-7);
	transform: matrix(0,1,-1,0,8,-7);
	position: fixed;
	top: 48px;
	left: 50%;
	margin-left: -81px;
}

#u1952-4
{
	z-index: 65;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: -66px;
}

#u1955
{
	z-index: 70;
	width: 15px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transform: matrix(0,1,-1,0,8,-7);
	-ms-transform: matrix(0,1,-1,0,8,-7);
	-o-transform: matrix(0,1,-1,0,8,-7);
	transform: matrix(0,1,-1,0,8,-7);
	position: fixed;
	top: 48px;
	left: 50%;
	margin-left: 11px;
}

#u1950-4
{
	z-index: 57;
	position: fixed;
	top: 38px;
	left: 50%;
	margin-left: 25px;
}

#u1951-4_img,#u1952-4_img,#u1950-4_img
{
	display: block;
	vertical-align: top;
}

#u2077-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: 432px;
}

#u2079
{
	z-index: 79;
	width: 15px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transform: matrix(0,1,-1,0,8,-7);
	-ms-transform: matrix(0,1,-1,0,8,-7);
	-o-transform: matrix(0,1,-1,0,8,-7);
	transform: matrix(0,1,-1,0,8,-7);
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 474px;
}

#u2080-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: 486px;
}

#u1939
{
	z-index: 3;
	width: 1148px;
	border-style: none;
	border-color: transparent;
	background-color: #DCDCDC;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1939_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 948px;
	position: relative;
	left: -100px;
	padding-top: 231px;
	padding-bottom: 285px;
}

#u1757-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	left: 554px;
	position: relative;
}

#u1756-8
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: 607px;
	margin-top: 7px;
	position: relative;
}

#u1957
{
	z-index: 36;
	width: 509px;
	position: relative;
	margin-right: -10000px;
}

#u2309-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
	left: 928px;
}

#pu1940
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1940
{
	z-index: 4;
	width: 1148px;
	border-style: none;
	border-color: transparent;
	background-color: #C8C8C8;
	position: relative;
	margin-right: -10000px;
}

#u1940_position_content
{
	margin-bottom: 297px;
}

#empresas
{
	position: relative;
}

#u2012-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	left: 635px;
	margin-top: 253px;
	position: relative;
}

#u2013-8
{
	z-index: 42;
	display: block;
	vertical-align: top;
	left: 683px;
	margin-top: 20px;
	position: relative;
}

#u2014
{
	z-index: 50;
	width: 429px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 451px;
	left: 680px;
}

#u2017
{
	z-index: 53;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 42px;
}

#u2015
{
	z-index: 51;
	width: 134px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 247px;
}

#u2015_img
{
	padding-right: 1px;
}

#pamphletu2273
{
	z-index: 80;
	width: 0.01px;
	height: 426px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 126px;
}

#u2282
{
	position: absolute;
	width: 460px;
}

#u2282popup
{
	z-index: 81;
}

#u2283
{
	z-index: 82;
	width: 461px;
	height: 435px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u2284
{
	z-index: 83;
	width: 460px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 1px;
}

#u2286
{
	z-index: 85;
	width: 460px;
	height: 435px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u2287
{
	z-index: 86;
	width: 460px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u2289
{
	z-index: 88;
	width: 460px;
	height: 435px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u2290
{
	z-index: 89;
	width: 460px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u2292
{
	z-index: 91;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 171px;
}

#u2295
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #69008C;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u2295:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin: 0px;
}

#u2295.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u2293
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #69008C;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 41px;
}

#u2293:hover
{
	background-color: #999999;
	margin: 0px;
}

#u2294
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #69008C;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 1px;
	left: 80px;
}

#u2294:hover
{
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u2293.PamphletThumbSelected,#u2294.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1939,#pu1949
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u1949
{
	z-index: 5;
	width: 1148px;
	border-style: none;
	border-color: transparent;
	background-color: #E21E79;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
}

#u1935_align_to_page,#u1940_align_to_page,#u1949_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 948px;
	position: relative;
	left: -100px;
}

#u2347
{
	z-index: 152;
	width: 480px;
	position: relative;
	margin-right: -10000px;
}

#pu2299-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 564px;
}

#u2299-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2300-10
{
	z-index: 103;
	display: block;
	vertical-align: top;
	margin-left: 48px;
	margin-top: 20px;
	position: relative;
}

#pu2304
{
	width: 0.01px;
	margin-left: 173px;
	margin-top: 45px;
	position: relative;
}

#u2304
{
	z-index: 143;
	width: 1px;
	height: 287px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
}

#pu2305-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u2305-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u2302-30
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
}

#u2307-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	margin-left: 364px;
	margin-top: 5px;
	position: relative;
}

#anclaprincipal,#academia,#secretlicsu
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u1192
{
	z-index: 6;
	width: 1148px;
	border-style: none;
	border-color: transparent;
	background-color: #69008C;
	padding-bottom: 12px;
	position: relative;
	left: -100px;
	top: -25px;
}

#u1192_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 948px;
	position: relative;
	left: -100px;
	margin-bottom: -25px;
}

#u1253
{
	z-index: 8;
	width: 916px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 22px;
}

#u1254
{
	z-index: 20;
	width: 1px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1255-11
{
	z-index: 9;
	width: 910px;
	min-height: 23px;
	color: #FFFFFF;
	text-align: left;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u1255-2
{
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
}

#u1255-9
{
	font-size: 10px;
	line-height: 12px;
}

#u1255-3,#u1255-5,#u1255-7
{
	color: #7F7F7F;
}

body
{
	padding-top: 13px;
	padding-bottom: 25px;
}

#page .verticalspacer
{
	clear: both;
}

